@charset "UTF-8";
@media (max-width: 800px) {
  .hidden-mobile {
    display: none; } }

@media (min-width: 800px) {
  .hidden-desktop {
    display: none; } }

.navigation {
  height: 50px;
  background: linear-gradient(to bottom, black 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 1.4em; }
  .brand a,
  .brand a:visited {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none; }

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 2; }

nav {
  margin: 0 auto;
  width: 567px; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    nav ul li {
      float: left;
      position: relative;
      z-index: 1; }
      nav ul li a,
      nav ul li a:visited {
        display: block;
        padding: 0 20px;
        line-height: 50px;
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none; }
        nav ul li a:hover,
        nav ul li a:visited:hover {
          color: white;
          transition: all 0.2s; }
          @media (max-width: 800px) {
            nav ul li a:hover,
            nav ul li a:visited:hover {
              font-size: 18px;
              text-decoration: none; } }
        nav ul li a:not(:only-child):after,
        nav ul li a:visited:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾'; }
      nav ul li ul li {
        min-width: 190px; }
        nav ul li ul li a {
          padding: 15px;
          line-height: 20px; }

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  z-index: 1; }

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block; }
  nav {
    width: 100%;
    padding: 50px 0 15px; }
    nav.open {
      background: rgba(0, 0, 0, 0.6); }
    nav ul {
      display: none; }
      nav ul li {
        float: none; }
        nav ul li a {
          padding: 15px;
          line-height: 20px; }
        nav ul li ul li a {
          padding-left: 30px; }
  .nav-dropdown {
    position: static; } }

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important; } }

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 1px 35px 16px 0px; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    height: 3px;
    width: 21px;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #nav-toggle span:before {
    top: -7px; }
  #nav-toggle span:after {
    bottom: -7px; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0; }
    #nav-toggle.active span:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    #nav-toggle.active span:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px; }
